
global
  set-var proc.site_blog_count str(blog_count),map(/var/lib/dataplaneapi/storage/maps/hapeeworld-site-settings.map,2)
  set-var proc.site_release_count str(release_count),map(/var/lib/dataplaneapi/storage/maps/hapeeworld-site-settings.map,2)
  set-var proc.site_coffee_enabled str(coffee_enabled),map(/var/lib/dataplaneapi/storage/maps/hapeeworld-site-settings.map,true)
  set-var proc.site_coffee_deny_action str(coffee_deny_action),map(/var/lib/dataplaneapi/storage/maps/hapeeworld-site-settings.map,'rewrite')
  set-var proc.site_proxy_cache_enabled str(proxy_cache_enabled),map(/var/lib/dataplaneapi/storage/maps/hapeeworld-site-settings.map,false)
  set-var proc.site_local_cache_enabled str(local_cache_enabled),map(/var/lib/dataplaneapi/storage/maps/hapeeworld-site-settings.map,false)
  set-var proc.site_proxy_cache_max_age str(proxy_cache_max_age),map(/var/lib/dataplaneapi/storage/maps/hapeeworld-site-settings.map,30)
  set-var proc.site_local_cache_max_age str(local_cache_max_age),map(/var/lib/dataplaneapi/storage/maps/hapeeworld-site-settings.map,30)
  master-worker
  stats socket /var/run/hapee-lb.sock level admin mode 660
  stats timeout 30000
  log-send-hostname
  lua-load /var/lib/dataplaneapi/storage/general/site-settings.lua

defaults unnamed_defaults_1
  mode http
  log global
  option httplog clf
  timeout http-request 5000
  timeout connect 5000
  timeout client 30000
  timeout server 10000

userlist L1
  user tux insecure-password invader

resolvers dnsmasq
  nameserver dns1 192.168.122.1:53
  accepted_payload_size 8192

cache local-cache
  total-max-size 200
  max-object-size 5000
  max-age 3600
  max-secondary-entries 10
  process-vary on

cache proxy-cache
  total-max-size 200
  max-object-size 5000
  max-age 3600
  max-secondary-entries 10
  process-vary on

http-errors json-errors
  errorfile 404 /var/lib/dataplaneapi/storage/general/error-404-json.http
  errorfile 503 /var/lib/dataplaneapi/storage/general/error-503-json.http

frontend hapee-world
  mode http
  bind 0.0.0.0:80 name default_listener
  acl coffee path -i -m beg /coffee
  acl deny_coffee var(proc.site_coffee_enabled) -m str false
  acl coffee_rewrite var(proc.site_coffee_deny_action) -m str rewrite
  acl brew path -i -m beg /coffee/brew
  acl blogapi path -i /v1/blogs
  acl releaseapi path -i /v1/releases
  acl proxy_hap path -i -m beg /haproxy.com/ /www.haproxy.com/
  acl proxy_cdn path -i -m beg /cdn.haproxy.com/
  acl auth_admin http_auth(L1) 
  acl sysadmin path -i -m beg /sysadmin
  acl is_post method POST
  acl www_site hdr(host) -i www.hapee.world hapee.world
  acl api_site hdr(host) -i api.hapee.world
  log-format-sd %{+Q,+E}o\ [request@58750\ host=%[var(txn.fusion.host)]\ user_agent=%[var(txn.fusion.user_agent)]\ referer=%[var(txn.fusion.referer)]]
  option http-keep-alive
  http-request capture req.hdr(Referer) len 1024
  http-request capture req.fhdr(User-Agent) len 512
  http-request capture req.hdr(user-agent) len 10
  http-request set-var(txn.fusion.host) req.hdr(Host)
  http-request set-var(txn.fusion.user_agent) req.fhdr(User-Agent)
  http-request set-var(txn.fusion.referer) req.hdr(Referer)
  http-request set-var(txn.fusion.origin) req.hdr(Origin)
  http-request set-var(txn.path) path
  http-request auth realm HAPEE-Admin if sysadmin !auth_admin
  http-request add-header X-HAPEE-Auth HAPEE-4-THE-WIN if auth_admin
  http-request add-header X-HAPEE-NoCoffee true if coffee deny_coffee
  http-request add-header Authorization "basic ZGV2ZGF2ZTpTMG0zX24wTl9SNG5kME1fdjR8dTM=" if api_site
  http-request set-path /tea if coffee deny_coffee coffee_rewrite
  http-request redirect location /tea if coffee deny_coffee !coffee_rewrite
  http-request set-query items=%[var(proc.site_blog_count)] if blogapi
  http-request set-query items=%[var(proc.site_release_count)] if releaseapi
  http-request set-header Host "www.haproxy.com" if proxy_hap
  http-request set-header Host "www.haproxy.com" if proxy_cdn
  http-request use-service lua.update_site_settings if sysadmin is_post
  use_backend www-servers if www_site
  use_backend api-servers if api_site
  use_backend haproxy if proxy_hap
  use_backend cdn if proxy_cdn

backend api-servers
  mode http
  balance roundrobin
  acl cache_enabled var(proc.site_proxy_cache_enabled) -m str true
  acl CORS_origin var(txn.fusion.origin) -m end hapee.world
  option forwardfor header X-Forward-For
  option httpchk
  http-check send meth HEAD uri /v1/blogs ver HTTP/1.1 hdr "Authorization" "basic ZGV2ZGF2ZTpTMG0zX24wTl9SNG5kME1fdjR8dTM="
  http-check expect status 200
  http-request cache-use local-cache if cache_enabled
  errorfiles json-errors
  server api1 172.17.0.3:3000 check
  http-response cache-store local-cache if cache_enabled
  http-response set-header Access-Control-Allow-Origin '%[var(txn.fusion.origin)]' if CORS_origin
  http-response set-header Access-Control-Allow-Headers "Origin, X-Requested-With, Content-Type, Accept, Authorization" if CORS_origin
  http-response set-header Access-Control-Max-Age 3600 if CORS_origin
  http-response set-header Access-Control-Allow-Methods "GET, OPTIONS, POST, PUT" if CORS_origin

backend cdn
  mode http
  balance roundrobin
  acl cache_enabled var(proc.site_proxy_cache_enabled) -m str true
  option forwardfor header X-Forward-For
  option httpchk
  http-request cache-use proxy-cache if cache_enabled
  http-request replace-path /cdn\.haproxy\.com(/)?(.*) /\2
  http-response cache-store proxy-cache if cache_enabled
  http-response set-header Cache-Control "public,max-age=%[var(proc.site_proxy_cache_max_age)]"
  server-template web 5 cdn.haproxy.com:443 check ssl init-addr none resolve-prefer ipv4 resolvers dnsmasq verify none

backend haproxy
  mode http
  balance roundrobin
  acl cache_enabled var(proc.site_proxy_cache_enabled) -m str true
  option forwardfor header X-Forward-For
  option httpchk
  http-request cache-use proxy-cache if cache_enabled
  http-request replace-path /[w\.]*haproxy\.com(/)?(.*) /\2
  http-response cache-store proxy-cache if cache_enabled
  http-response set-header Cache-Control "public,max-age=%[var(proc.site_proxy_cache_max_age)]"
  server-template web 2 www.haproxy.com:443 check ssl init-addr none resolve-prefer ipv4 resolvers dnsmasq verify none

backend www-servers
  mode http
  balance roundrobin
  acl sysadmin_response var(txn.path) -m beg /sysadmin
  acl about_response var(txn.path) -m beg /about
  acl cache_enabled var(proc.site_local_cache_enabled) -m str true
  option forwardfor header X-Forward-For
  option httpchk
  http-check send meth HEAD uri / ver HTTP/1.1
  http-check expect status 200
  http-request cache-use local-cache if !sysadmin_response cache_enabled
  server web1 172.17.0.2:3000 check
  http-response cache-store local-cache if !sysadmin_response cache_enabled
  http-response set-header Cache-Control "public,max-age=%[var(proc.site_local_cache_max_age)]"
  http-response add-header Set-cookie "site_settings_blog_count=%[var(proc.site_blog_count)]; path=/sysadmin;" if sysadmin_response
  http-response add-header Set-cookie "site_settings_release_count=%[var(proc.site_release_count)]; path=/sysadmin;" if sysadmin_response
  http-response add-header Set-cookie "site_settings_allow_coffee=%[var(proc.site_coffee_enabled)]; path=/sysadmin;" if sysadmin_response
  http-response add-header Set-cookie "site_settings_coffee_action=%[var(proc.site_coffee_deny_action)]; path=/sysadmin;" if sysadmin_response
  http-response add-header Set-cookie "site_settings_proxy_cache=%[var(proc.site_proxy_cache_enabled)]; path=/sysadmin;" if sysadmin_response
  http-response add-header Set-cookie "site_settings_local_cache=%[var(proc.site_local_cache_enabled)]; path=/sysadmin;" if sysadmin_response
  http-response add-header Set-cookie "site_settings_proxy_cache_age=%[var(proc.site_proxy_cache_max_age)]; path=/sysadmin;" if sysadmin_response
  http-response add-header Set-cookie "site_settings_local_cache_age=%[var(proc.site_local_cache_max_age)]; path=/sysadmin;" if sysadmin_response
  http-response add-header Set-Cookie "hapee_sys={\"hostname\": \"${hostname}\", \"cluster_id\": \"${cluster_id}\" }"
  http-response add-header Set-Cookie "hapee_hw={\"os\": \"${operatingsystem}\", \"hardwaremodel\": \"${hardwaremodel}\", \"rel\": \"${operatingsystemrelease}\", \"mem\": \"${memorysize}\" }"

